html {
	height: 100%;
	width: 100%;
	background-color: #f8f8ff;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
}

/* 

//--------------------// 

Left side of page, including Title and Navigation Menu 

//--------------------// 

*/

.leftLanding {
	height: 100%;
	width: 50%;
	box-sizing: border-box;
	padding-right: 40px;
	padding-left: 40px;
	background-color: #f8f8ff;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	transition: width .6s ease, padding-right .6s ease, padding-left .6s ease;
}

.leftLandingCollapsed {
	width: 20%;
	padding-left: 20px;
	padding-right: 20px;
}

.leftBorder {
	height: 97%;
	width: 97%;
	padding-right: 40px;
	padding-left: 40px;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: flex-end;
	justify-content: flex-start;
	text-align: center;
	transition: padding-right .6s ease, padding-left .6s ease;
}

.leftBorderCollapsed {
    padding-left: 10px;
    padding-right: 10px;
}

.spacer {
	width: 100%;
	height: 45%;
	border-bottom: 1px solid #0099ff;
	transition: all .6s ease;
}

.pageTitle {
	font-family: Raleway;
	font-weight: 100;
	font-size: 2.7em;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: end;
	transition: font-size .6s ease, margin .6s ease, letter-spacing .6s ease;
}

.pageTitleCollapsed {
	font-size: 1.7em;
	letter-spacing: initial;
	margin-right: 0;
}

.robertTitle {
	font-size: inherit;
	margin-left: inherit;
}

.robertTitleCollapsed {
	font-size: inherit;
	margin-left: inherit;
}

.nav {
	font-family: Lato;
	color: #BFBFBF;
}

.navWork {
	letter-spacing: 1.95px;
}

.navAbout span {
	text-align: left;
}

.nav h3 {
	margin: 0;
	font-weight: 300;
	text-align: end;
	transition: color .2s ease, text-align .4s ease;
}

.nav h3:hover {
	cursor: pointer;
	color: #7F7F7F;
	transition: color .4s ease;
}

.dropDown {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 0px;
	font-family: Raleway;
	font-size: .7em;
	margin-top: -1px;
	margin-bottom: 1px;
	margin-left: -40px;
    overflow-y: hidden;
    justify-content: space-around;
    opacity: 0;
	transition: height .4s ease, opacity .2s ease;
}

.workDropExpanded {
	height: 5.2rem;
	opacity: 1; 
	transition: opacity .2s ease, height .4s ease;
}

.aboutDropExpanded {
	height: 2.2rem;
	opacity: 1; 
	transition: opacity .15s ease, height .4s ease;
}

.dropDown li {
	color: #BFBFBF;
	letter-spacing: 1.4px;
	justify-content: right;
	list-style: none;
	transition: color .4s ease;
}

.dropDown li:hover {
    color: #0099ff;
    transition: color .1s ease;
}

/* 

//--------------------// 

Right side of page, including all image and text content 

//--------------------// 

*/

.rightLanding {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
    background-image: url("images/klimt.jpg");
    background-size: cover;
    background-position: center;
    transition: width .6s ease, -webkit-filter .6s ease;
}

.rightLandingExpanded {
	width: 80%;
}

.heroBorder {
	height: 97%;
	width: 97%;
	margin-bottom: 0px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
    align-self: center;
    justify-content: space-between;
    overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #BFBFBF;
	transition: background-color .4s ease .6s;
	z-index: 3;
}

.heroBorderDivExpanded {
	background-color: rgba(248, 248, 255, .8);
}

.heroBorderCenterAlign {
	justify-content: center;
}

.ringLoader {
	position: relative;
	width: 5%;
	bottom: calc(50% - 75px);
	z-index: 0;
}

.bioText {
	display: flex;
	flex-direction: column;
	width: 45%;
    height: 97%;
	box-sizing: border-box;
    margin-left: 20px;
    margin-right: 10px;
	border: 1px solid #BFBFBF;
    padding-right: 50px;
    padding-left: 50px;
    align-self: center;
    align-items: center;
    font-family: lato;
    font-weight: 300;
    font-size: 1.4em;
    text-align: justify;
    justify-content: center;
    overflow-y: scroll;
    color: #7F7F7F;
    background-color: #f8f8ff;
    opacity: 0;
    transition: opacity .5s ease;
}

.bioTextVisible {
    opacity: 1;
    transition: opacity .3s ease;
}

.bioText p {
	width: 100%;
	text-align: justify;
}

.dropCap1 {
    float: left;
    font-size: 4em;
    line-height: 0.5;
    margin-top: 17px;
    margin-right: 6px;
    margin-left: -7px;
    /* margin: 0.205em 0.153em 0 0; */
    font-family: raleway;
    font-weight: 100;
    color: #0099ff;
}

.dropCap2 {
    float: left;
    font-size: 4em;
    line-height: 0.5;
    margin-top: 15px;
    margin-right: 4px;
    margin-left: -5px;
    /* margin: 0.205em 0.153em 0 0; */
    font-family: raleway;
    font-weight: 100;
    color: #0099ff;
}

.bioText hr {
	width: 100%;
    padding: 0;
    border: none;
    margin: -20px;
    margin-bottom: -10px;
    border-top: medium double #BFBFBF;
    color: #7F7F7F;
    text-align: center;
}

.bioText hr:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1em;
    padding: 0 0.22em;
    background: ghostwhite;
}

.bioPic {
	box-sizing: border-box;
    width: 100%;
    height: auto;
    align-self: center;
    opacity: 1;
    transition: opacity .8s ease;
}

.bioPicVisible {
	opacity: 1;
	transition: opacity .8s ease;
}

.bioImgBorderBox {
	display: flex;
	align-self: center;
	width: 45%;
	min-height: 97%;
	overflow: hidden;
	margin-right: 20px;
    margin-left: 10px;
	box-sizing: border-box;
	border: 1px solid #BFBFBF;
	justify-content: center;
    opacity: 0;
    transition: opacity .6s ease;
}

.bioImgBorderBoxVisible {
	opacity: 1;
	transition: opacity .6s ease;
}

.contentVisible {
	opacity: 1 !important;
	transition: opacity .5s ease;
}

.contentTransparent {
	opacity: 0 !important;
	transition: opacity .5s ease;
}

.contactText {
	display: flex;
	flex-direction: column;
	width: 50%;
    height: 97%;
	box-sizing: border-box;
    margin-left: 20px;
    margin-right: 10px;
	border: 1px solid #BFBFBF;
    padding-right: 50px;
    padding-left: 50px;
    align-self: center;
    align-items: center;
    font-family: lato;
    font-weight: 300;
    font-size: 1.4em;
    text-align: justify;
    justify-content: center;
    color: #7F7F7F;
    background-color: #f8f8ff;
    opacity: 0;
    transition: opacity .5s ease;
}

.fullSizedImgContainer {
    height: calc(100% - 90px);
    display: flex;
    width: 95%;
    align-items: center;
    align-self: center;
    justify-content: center;
	background-blend-mode: color-dodge;
	overflow-y: hidden;
	z-index: 4;
	transition: opacity .5s ease, -webkit-filter .5s ease, background-color .5s ease;
}

.fullSizedImgContainerDarkened {
	background-color: transparent;
	-webkit-filter: brightness(50%);
	transition: background-color .5s ease, -webkit-filter .5s ease;
}

.fullSizedImgContainer:-webkit-full-screen {
	background-color: black;
}

.fullSizedImg {
	max-height: 100%;
	max-width: 100%;
	z-index: 1;
	transition: opacity .3s ease, width 1s ease;
}

.fullSizedImg:hover {
	cursor: zoom-in;
}

.fullSizedImg:-webkit-full-screen {
	cursor: zoom-out;
}

.fullSizedImgSmall {
	max-height: 100%;
	max-width: 100%;
	transition: opacity .3s ease, width 1s ease;
}

.imgDescription {
	height: 15%;
	width: 85%;
	background-color: rgba(0, 0, 0, .8);
	opacity: 0;
	transition: opacity .5s ease;
}

.imgDescriptionText {
	font-family: lato;
	color: #7f7f7f;
	text-align: center;
	align-self: center;
	justify-content: center;
}

.galleryThumbnails {
	display: flex;
	flex-direction: row;
	align-self: flex-start;
	align-items: flex-start;
	height: 75px;
	width: 100%;
	box-sizing: border-box;
	margin-left: 8px;
	margin-right: 8px;
	justify-content: space-between;
	font-family: Lato;
	font-weight: 300;
	overflow-x: scroll;
	overflow-y: hidden;
	border: 1px solid transparent;
	transition: border .3s ease, opacity .5s ease, height .5s ease;
}

.galleryThumbnails:hover {
	border: 1px solid #bfbfbf;
	border-bottom: none;
	transition: border .6s ease .3s;
}

.galleryThumbnails::-webkit-scrollbar {
	display: none;
}

.thumbnailContainer {
	position: relative;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: -10px;
	flex-shrink: 0;
}

.thumbnailImg {
    margin-bottom: 5px;
    margin-right: 8px;
    flex-shrink: 0;
    opacity: .3;
    transition: border .3s ease-out, background .6s ease, opacity .5s ease;
}

.thumbnailImg:hover {
	background: rgba(127, 127, 127, .5);
    cursor: pointer;
    opacity: 1;
    transition: border .3s ease-in, background .6s ease, opacity .5s ease;
}

.galleryNavBox {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 75px;
	font-family: Raleway;
	font-weight: 300;
	font-size: 2.4em;
	transition: border-top .3s ease, border-bottom .3s ease, background-color .5s ease;
}

.galleryNavBoxDarkened {
	background-color: rgba(0, 0, 0, .75);
	cursor: ew-resize;
	transition: background-color .5s ease;
}

.galleryNavButtons > p {
	padding-bottom: 5%;
}

.galleryNavButtons {
	display: flex;
	cursor: pointer;
	align-items: center;
	align-self: flex-start;
	justify-content: center;
	box-sizing: border-box;
	color: #7f7f7f;
	background-color: rgba(0, 0, 0, 0);
	min-width: 75px;
	height: 75px;
	transition: color .5s ease, border .2s ease, background-color .5s ease;
}

.galleryNavLeft {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #7f7f7f;
	border-left: none;
	border-bottom: none;
	transition: background-color .5s ease, transform .2s ease;
}

.galleryNavRight {
	display: flex;
	align-items: center;
	justify-content: center;	
	border: 1px solid #7f7f7f;
	border-right: none;
	border-bottom: none;
	transition: background-color .5s ease, transform .2s ease;
}

.galleryNavLeft:hover {
	background-color: ghostwhite;
	transition: background-color .5s ease;
}

.galleryNavRight:hover {
	background-color: ghostwhite;
	transition: background-color .5s ease;
}

.galleryInfoButton {
	display: flex;
	align-items: center;
	justify-content: center;
    font-family: times new roman;
    font-style: italic;
    font-size: 1.7em;
    box-sizing: border-box;
    color: #7f7f7f;
    width: 50px;
    height: 50px;
    margin-right: auto;
    text-align: center;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 0px;
    transition: background-color .5s ease, height .3s ease, color .3s ease, border-right .3s ease .3s, border-bottom .3s ease;
}

.galleryInfoButtonHover {
	cursor: pointer;
    border-right: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
	transition: border-right .5s ease, border-bottom .5s ease, height .3s ease .3s;
}

.galleryInfoButtonExpanded {
	background-color: rgba(248, 248, 255, .8);
	color: #0099ff;
	font-style: normal;
	font-family: Lato;
	font-size: .7em;
	border-bottom: 1px solid #7f7f7f;
	border-right: 1px solid #7f7f7f;
	height: 75px;
	margin-left: 0px;
	transition: background-color .5s ease, color .3s ease, height .3s ease;
}

.infoSpacer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-family: Lato;
	font-weight: 300;
	letter-spacing: .2em;
	font-size: .9em;
	color: #7f7f7f;
	box-sizing: border-box;
	border-bottom: 1px solid #7F7F7F;
	margin-left: -200px;
	padding-left: 10px;
	width: 200px;
	height: 75px;
	transition: margin-left .3s ease, background-color .3s ease;
}

.infoSpacerExpanded {
	margin-left: 0px;
	width: 200px;
	background-color: rgba(248, 248, 255, .8);
	transition: margin-left 300ms ease 300ms, background-color ease;
}

.galleryWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    z-index: 100;
    transition: opacity .5s ease, background-color .5s ease;
}

.gallerySpacer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 75px;
	width: 100%;
	z-index: 999;
}

.fullScreenToggle { 
	display: flex;
	flex-shrink: 1;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	margin-left: auto;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color .3s ease, opacity .3s ease .3s, border-bottom .5s ease, border-left .5s ease .3s;
}

.fullScreenToggle:hover {
	cursor: pointer;
	border-left: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
	transition: background-color .3s ease, border-bottom .5s ease, border-left .5s ease;
}

.fullScreenToggle img {
	transition: transform .2s ease;
}

.fullScreenToggle img:hover {
	transform: scale(1.2, 1.2);
	transition: transform .2s ease;
}

/* 

//--------------------// 

Basic CSS for mobile 

//--------------------// 

*/

@media screen and (min-width: 100px) and (max-width: 499px) {
	body {
		flex-direction: column;
	}

	.leftLanding {
		height: 20%;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		flex-direction: row;
		justify-content: left;
	}

	.leftLandingCollapsed {
		height: 10%;
	}

	.leftBorder {
		flex-direction: row;
		flex-wrap: wrap;
		padding-left: 0px;
		padding-right: 0px;
		align-items: center;
		justify-content: center;
	}

	.spacer {
		height: 12%;
	}

	.pageTitle {
		font-size: 10.9vw;
		padding-bottom: 20px;
		margin-right: 0px;
		letter-spacing: 2px;
		transition: font-size 0s ease;
	}

	.pageTitleCollapsed {
		letter-spacing: 6px;
		padding-bottom: 5px;
		font-size: 8.2vw;
	}

	.nav {
		position: fixed;
		width: 100%;
		height: 7%;
		background-color: ghostwhite;
		font-size: 1.3em;
		display: flex;
		bottom: 0;
		left: 0;
		padding: 5px;
		text-align: center;
		box-sizing: border-box;
		flex-direction: row;
		padding-left: 1.5%;
		padding-right: 1.5%;
		align-items: center;
		justify-content: space-between;
		transition: padding-left .3s ease, padding-right .3s ease;
		z-index: 9999;
	}

	.navWork {
		display: flex;
    	width: 120px;
    	margin-left: -6px !important;		
    	letter-spacing: initial;
		justify-content: flex-end;
		transition: width .3s ease;
	}

	.navAbout {
		display: flex;
		justify-content: flex-end;
	}

	.dropDown {
		position: fixed !important;
		top: 0 !important;
		left: 0 !important;
		height: 0%;
		width: 100%;
		align-items: center;
		text-align: center;
		background-color: ghostwhite;
		font-family: Raleway;
		font-size: 2.3em;
		font-weight: 100;
		transition: opacity .5s ease-in, height 0s ease .5s, font-size 0s ease .5s;
		z-index: 99999;
	}

	.workDropExpanded {
		height: 94%;
		opacity: 1;
		transition: opacity .4s ease;
	}

	.aboutDropExpanded {
		justify-content: space-around;
		height: 94%;
		font-size: 3em;
		opacity: 1;
		transition: opacity .4s ease;
	}

	.rightLanding {
		height: 73%;
		width: 100%;
	}

	.rightLandingExpanded {
		height: 83%;
	}

	.gallerySpacer {
		height: 40px;
	}

	.infoSpacer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		font-size: .8em;
		padding-left: 10px;
		margin-left: calc(-100% + 60px);
	    width: calc(100% - 60px);
	}

	.infoSpacerExpanded {
		margin-left: 0%;
		background-color: rgba(248, 248, 255, .95);
		transition: margin-left 300ms ease, background-color ease;
	}
	
	.galleryInfoButton {
		height: 40px;
		width: 30px;
	}

	.galleryInfoButtonExpanded {
		background-color: rgba(248, 248, 255, .95);
	}

	.fullScreenToggle {
		height: 40px;
		width: 30px;
	}

	.fullScreenArrows {
		height: 20px;
		width: 20px;
	}

	.ringLoader {
		bottom: calc(50% - 60px);
		width: 10%;
	}

	.fullSizedImg {
		max-width: 100%;
		max-height: 100%;
	}

	.fullSizedImgContainer {
		width: 95%;
	}

	.galleryNavBox {
		height: 60px;
	}

	.galleryNavButtons {
		display: none;
	}

	.galleryThumbnails {
		height: 60px;
		border-left: none;
		border-right: none;
		margin-left: 0px;
		margin-right: 0px;
	}

	.galleryThumbnails:hover {
	    border-top: 1px solid #bfbfbf;
	    border-left: none;
	    border-right: none;
	}

	.thumbnailContainer {
		height: 60px;
		width: 60px;
		margin-right: 4px;
	}

	.thumbnailContainer:last-child {
		margin-right: 0px;
	}

	.thumbnailImg {
		height: 60px;
		width: 60px;
	    margin-right: 0px;
	    transition: border .3s ease-out, background .6s ease, opacity .5s ease;
	}

	.thumbnailImg:hover {
		opacity: .3;
	}

	.bioText {
		margin-left: 0;
		margin-right: 0;
		padding-left: 25px;
		padding-right: 25px;
		width: 102%;
		height: 83%;
		font-size: 5.2vmin;
	}

	.bioImgBorderBox {
		display: none;
	}
}

/*

//--------------------// 

Optimization for portrait mode

//--------------------// 

*/

@media screen and (max-height: 500px) {

	.spacer {
		height: 35%;
	}

	.bioText {
		justify-content: space-between;
		font-size: 4vmin !important;
    	width: 75%;
	}

	.bioImgBorderBox {
		display: none;
	}

	.dropCap1 {
		margin-top: 8px;
	}

	.fullSizedImgContainer {
    	margin-bottom: -40px;
    	margin-top: -30px;
    	height: 80%;
	}

	.fullSizedImg {
		height: 100%;
		width: auto;
	}

	.ringLoader {
		bottom: calc(50% - 60px);
		width: 10%;
	}
	
	.galleryNavBox {
		height: 60px;
	}

	.galleryNavButtons {
		display: none
	}

	.galleryThumbnails {
		height: 60px;
		border-left: none;
		border-right: none;
		margin-left: 0px;
		margin-right: 0px;
	}

	.galleryThumbnails:hover {
	    border-top: 1px solid #bfbfbf;
	    border-left: none;
	    border-right: none;
	}

	.thumbnailContainer {
		position: relative;
		box-sizing: border-box;
		text-align: center;
		height: 60px;
		width: 60px;
		margin-right: 4px;
		margin-bottom: -10px;
		flex-shrink: 0;
	}

	.thumbnailContainer:last-child {
		margin-right: 0px;
	}

	.thumbnailImg {
		height: 60px;
		width: 60px;
	    margin-bottom: 5px;
	    margin-right: 0px;
	    flex-shrink: 0;
	    opacity: .3;
	    transition: border .3s ease-out, background .6s ease, opacity .5s ease;
	}

	.thumbnailImg:hover {
		opacity: .3;
	}
}

/*

//--------------------// 

Refinements for mobile width ranges 

//--------------------// 


*/

@media screen and (min-width: 300px) and (max-width: 349px) {

	.pageTitle {
		padding-bottom: 20px;
	}

	.pageTitleCollapsed {
		letter-spacing: 3px;
		font-size: 10vw;
		margin-bottom: -10px;
	}

	.nav {
		font-size: 1.1em;
	}

	.navWork {
		width: 100px;
	}

	.dropDown {
		font-size: 2.6em;
	}

	.infoSpacer {
		display: flex;
		padding-left: 10px;
	    width: calc(100% - 60px);
	}

	.galleryThumbnails:hover {
	    border-top: 1px solid #bfbfbf;
	    border-left: none;
	    border-right: none;
	}

	.bioText {
		padding-left: 25px;
		padding-right: 25px;
		font-size: 5.2vmin;
	}
}

@media screen and (min-width: 350px) and (max-width: 399px) {

	.pageTitle {
		font-size: 10.9vw;
		padding-bottom: 15px;
	}

	.pageTitleCollapsed {
		letter-spacing: 3px;
		font-size: 10vw;
		margin-bottom: -10px;
	}

	.dropDown {
		font-size: 2.6em;
	}

	.thumbnailContainer {
		margin-bottom: -10px;
	}

	.bioText {
		padding-left: 30px;
		padding-right: 30px;
		font-size: 2.7vmax;
	}
}

@media screen and (min-width: 400px) and (max-width: 449px) {

	.pageTitle {
		font-size: 11.3vw;
		padding-bottom: 20px;
		margin-right: 0px;
	}

	.pageTitleCollapsed {
		letter-spacing: 6px;
		padding-bottom: 5px;
		font-size: 9.2vw;
	}

	.dropDown {
		font-size: 2.7em;
	}

	.aboutDropExpanded {
		font-size: 3.8em;
	}

	.infoSpacer {
		margin-left: calc(-100% + 60px);
	    width: calc(100% - 60px);
	}

	.galleryInfoButton {
		width: 30px;
	}

	.fullScreenToggle {
		width: 30px;
	}

	.galleryNavBox {
		height: 60px;
	}

	.galleryThumbnails {
		height: 60px;
	}

	.thumbnailContainer {
		height: 60px;
		width: 60px;
	}

	.thumbnailImg {
		height: 60px;
		width: 60px;
	}

	.bioText {
		padding-left: 35px;
		padding-right: 35px;
		font-size: 2.9vmax;
	}
}

@media screen and (min-width: 450px) and (max-width: 499px) {

	.pageTitle {
		font-size: 11.3vw;
		padding-bottom: 10px;
		margin-top: 2px;
		transition: font-size 0s ease;
	}

	.pageTitleCollapsed {
		font-size: 9.7vw;
		padding-bottom: 5px;
		letter-spacing: 5px;
	}

	.heroBorderDivExpanded {
		border: none;
	}

	.dropDown {
		font-size: 2.8em;
	}

	.aboutDropExpanded {
		font-size: 4.5em;
	}

	.infoSpacer {
		height: 40px;
		margin-left: calc(-100% + 80px);
	    width: calc(100% - 80px);
	}

	.galleryInfoButton {
		height: 40px;
		width: 40px;
	}

	.fullScreenToggle {
		height: 40px;
		width: 40px;
	}

	.ringLoader {
		bottom: calc(50% - 65px);
	}

	.galleryNavBox {
		height: 65px;
	}

	.galleryThumbnails {
		height: 65px;
	}

	.thumbnailContainer {
		height: 65px;
		width: 65px;
	}

	.thumbnailImg {
		height: 65px;
		width: 65px;
	}

	.bioText {		
    	font-size: 3vmax;
	}
}

/*

//--------------------// 

Refinements for tablets and lap/desktops

//--------------------// 


*/

@media screen and (min-width: 500px) and (max-width: 649px) {
	.leftLandingCollapsed {
		padding-left: 10px;
		padding-right: 10px;
	}

	.pageTitle {
		font-size: 4.1vw;
		margin-right: 0px;
	}

	.pageTitleCollapsed {
		font-size: 3.5vw;
		margin-right: 0px;
	}

	.nav {
		font-size: .7em;
	}

	.navWork {
		letter-spacing: 1.36px;
	}

	.workDropExpanded {
		height: 75px;
		margin-top: 1px;
	}

	.aboutDropExpanded {
		height: 25px;
		margin-top: 2px;
	}

	.galleryNavButtons {
		min-width: 45px;
	}

	.bioText {
		width: 85%;
		font-size: 1.35em;
		padding-left: 20px;
		padding-right: 20px;
	}

	.bioImgBorderBox {
		display: none;
	}
}

@media screen and (min-width: 650px) and (max-width: 749px) {
	.pageTitle {
		font-size: 4.64vw;
		margin-right: 0px;
	}

	.pageTitleCollapsed {
		font-size: 3.6vw;
	}

	.leftLandingCollapsed {
		padding-left: 10px;
		padding-right: 10px;
	}

	.nav {
		font-size: .8em;
	}

	.navWork {
		letter-spacing: 1.60px !important;
	}

	.dropDown {
		font-size: .7em;
	}

	.workDropExpanded {
		height: 70px !important;
		margin-top: 2px;
	}

	.aboutDropExpanded {
		height: 25px !important;
		margin-top: 1px;
	}

	.bioText {
		font-size: 3vmin;
		justify-content: space-between;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (min-width: 750px) and (max-width: 849px) {
	.pageTitle {
		font-size: 3.9vw;
		letter-spacing: 3.5px;
	}

	.pageTitleCollapsed {
		font-size: 3.4vw;
		letter-spacing: initial;
	}

	.leftLandingCollapsed {
		padding-right: 15px;
		padding-left: 15px;
	}

	.nav {
		font-size: .9em !important;
	}

	.navWork {
		letter-spacing: 1.75px !important;
	}
	
	.dropDown {
		font-size: .6em !important;
	}

	.workDropExpanded {
		height: 70px !important;
		margin-top: 2px;
		transition: height .3s ease;
	}

	.aboutDropExpanded {
		height: 27px !important;
		margin-top: 1px;
		transition: height .3s ease;
	}

	.bioText {
		font-size: 3vmin;
		justify-content: space-between;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (min-width: 850px) and (max-width: 1015px) {
	.pageTitle {
		font-size: 4vw;
		letter-spacing: 4px;
		margin-right: 0px;
	}

	.pageTitleCollapsed {
		font-size: 3.4vw;
		letter-spacing: initial;
	}

	.nav {
		font-size: 1em;
	}

	.navWork {
		letter-spacing: 1.95px;
	}

	.dropDown {
		font-size: .6em;
	}

	.workDropExpanded {
		height: 80px;
		margin-top: 2px;
		opacity: 1; 
		transition: opacity .2s ease, height .4s ease;
	}

	.aboutDropExpanded {
		height: 25px;
		margin-top: 1px;
		opacity: 1; 
		transition: opacity .15s ease, height .4s ease;
	}

	.bioText {
		font-size: 1.2em;
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media screen and (min-width: 1016px) {
	.bioText {
		font-size: 2.6vh;
		justify-content: space-between;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.dropDown {
		margin-top: 2px;
		margin-bottom: -2px;
	}
}

