html {
    
    background: #259eda; 
    height: 100%;
    width: 100%;
    display: flex;


}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    margin: 0;
}

.cityIcon {
    max-width: 50%;
	align-self: center;

}

.cityIcon img {
	height: 100%;
	width: 100%;
}

.cityBackground {
    background: url("images/chicagoEl.jpg") no-repeat center center fixed;
	background-size: cover;
}


.container {
	color: white;
    font-family: Raleway;
    background: #259eda;
    display: flex;
   	justify-content: center;
	flex-direction: column;
	min-width: 100%;
	min-height: 100%;
	z-index: 98;
}

.blueTrans {
	background-color: rgba(37, 158, 218, 0.7);
	min-height: 80%;
	min-width: 75%;
	display: flex;
	align-self: baseline;
	order: 1;
}



.title {
	font-size: 3em;
	letter-spacing: 5px;
    flex-wrap: wrap;
	align-self: center;
	text-align: center;
	padding: none;
	margin: 0px;
	text-shadow: 0px 5px 10px #0e3f58;
}

h2 {
	font-family: Open Sans Condensed;
	align-self: center;
	color: #0e3f58;
	margin: 0px;
}

.addressSearch {
	align-self: center;
	display: flex;
	max-height: 45px;
	border: 1px solid white;
}

.address {
	padding: 10px;
    border: solid 5px #0e3f58;
    align-self: center;
    transition: background-color 0.3s;
}

.address:empty {
	background-color: #737373;
}

.address::-webkit-input-placeholder {
	color: #0d4159;
	font-family: Raleway;
	font-size: 1.1em;
}

.address:focus {
	background-color: white;
	border: solid 5px #0d4159;

}

.magGlass {
  max-height: 45px;
  align-self: center;
  background-color: #0e3f58;
  transition: background-color 0.7s ease-out;
}

.magGlass:hover {
	background-color: white;
	max-height: 41px;
	border: 3px solid #0e3f58;
	cursor: pointer;
	transition: background-color 0.7s ease-out, border-color 0.7s ease-out;
}

.space {
	align-self: center;
    min-width: 100%;
    min-height: 0%;
    order: 2;
}

.navWrap {
	align-self: center;
	display: flex;
	align-items: stretch;
	min-height: 0%;
	min-width: 100%;
	box-shadow: 5px 5px 10px black;
	z-index: 99;
	order: 0;

}

nav div {
	background-color: #0e3f58;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	min-width: 25%;
}

nav div:hover {
	background-color: white;
	color: #E03C4D;
	cursor: pointer;
}


nav p {
	font-size: 2em;
	margin: 0px;
	font-family: Open Sans Condensed;
	display: none;
}


@media screen and (max-width: 400px) {

  .title {
  	font-size: 4em;
  	text-align: center;
  	text-shadow: 0px 5px 10px #0e3f58;
  	align-self: center;
  }
  .addressSearch {
  	border: 5px solid #0e3f58;

  }
  .magGlass {
  	max-height: 47px;
  	border: 1px solid #0e3f58;
  }
  .blueTrans {
  	height: 80%;
  	width: 100%;
  }
  .navWrap {
  	box-shadow: 0px -3px 5px black;
  	order: 3;
  }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
 
  .title {
	font-size: 2.3em;
	text-shadow: 0px 4px 8px #0e3f58;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
	.title {
		font-size: 4em;
	}
	h2 {
		font-size: 2em;
	}
}

@media screen and (min-width: 901px) {
	.title {
		font-size: 5em;
	}
}
